services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    restart: unless-stopped
    env_file: .env
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      inception:
        aliases:
          - mariadb
    secrets:
      - db_root_password
      - db_password

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    restart: unless-stopped
    env_file: .env
    depends_on:
      - mariadb
    volumes:
      - wordpress_data:/var/www/wordpress
    networks:
      inception:
        aliases:
          - wordpress
    secrets:
      - db_password

  nginx:
    build: ./requirements/nginx
    container_name: nginx
    restart: unless-stopped
    depends_on:
      - wordpress
    volumes:
      - wordpress_data:/var/www/wordpress
    ports:
      - "443:443"
    networks:
      inception:
        aliases:
          - nginx

networks:
  inception:
    driver: bridge
    name: inception

volumes:
  mariadb_data:
    driver: local
  wordpress_data:
    driver: local

secrets:
  db_root_password:
    file: ../secrets/db_root_password.txt
  db_password:
    file: ../secrets/db_password.txt
